<h3>Link list</h3>

<a mat-raised-button [routerLink]="['/links', 'create']">Create a link</a>
<table>
  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <thead>
    <tr>
      <th>Id</th>
      <th>Trending</th>
      <th>Title</th>
      <th>Url</th>
      <th>Like ratio</th>
      <th>Details</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>
        <input type="text" [(ngModel)]="filter" (input)="inputHandler$.next($event.target.value)" />
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let link of links">
      <td>{{ link.id }}</td>
      <td><i class="{{ link.isTrending | trendingBooleanToFaicon }}"></i></td>
      <td><strong>{{ link.title }}</strong></td>
      <td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
      <td>
        <app-likes [likes]="link.likes" [dislikes]="link.dislikes"></app-likes>
      </td>
      <td><a [routerLink]="['/links', link.id]" mat-raised-button>Details</a></td>
      <td><a [routerLink]="['/links', link.id, 'edit']" mat-raised-button>Edit</a></td>
    </tr>
  </tbody>
</table>


<p>
  <a routerLink="/">Back to home-page</a>
</p>