<h3>Link list</h3>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Url</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let link of links">
      <td>{{ link.id }}</td>
      <td>{{ link.title }}</td>
      <td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
      <td>{{ link.rating }}</td>
      <td><a [routerLink]="['/links', link.id]">Details</a></td>
    </tr>
  </tbody>
</table>


<p>
  <a routerLink="/">back to home-page</a>
</p>