.container {
    width: 120px;
    display: inline-block;
}
.dislike {
    float:right;
}
.like-ratio-bar {
    background-color: crimson;
    //width: 120px;
}
.like-bar {
    background-color: mediumblue;
    height: 5px;
}