<h3>Menu</h3>
<mat-divider></mat-divider>

<mat-action-list>
  <ng-container *ngIf="isLoggedIn$ | async; else loggedOutTemplate">
    <h4 mat-subheader>User: {{ (currentUser$ | async)?.username }}</h4>
    <button mat-list-item>Profile</button>
    <button mat-list-item (click)="logout()">Logout</button>
    <mat-divider></mat-divider>
  </ng-container>

  <ng-template #loggedOutTemplate>
    <button mat-list-item (click)="openLogin()">Login</button>
  </ng-template>

  <h4 mat-subheader>Pages</h4>
  <button mat-list-item routerLink="/">Home page</button>
  <button mat-list-item routerLink="/links">Links</button>
  <button mat-list-item routerLink="/animation">Animation</button>
  <button mat-list-item routerLink="/changedetection">Change detection</button>
</mat-action-list>